
/* form elements */
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="tel"],
button[type="button"],
button[type="submit"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    border-radius: 0 !important;
}
input[type="text"] {
    padding: 0;
}


/* web accecibility settings */
a:focus,
select:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
button:focus,
textarea:focus {
    outline: #ccc dashed 1px;
}

a:active,
select:active,
input[type="radio"]:active,
input[type="checkbox"]:active,
input[type="text"]:active,
input[type="tel"]:active,
input[type="password"]:active,
textarea:active {
    outline: 0;
}

/* default fonts & color */
body {
    font-size: 14px;
    margin: 0;
    color: white;
    background: #002144;

}
select, input, button, textarea {
    font-family: 'source-han-sans-korean', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

.setWidth {
    margin: 0 auto;
}
#contentWrap {
    margin-bottom: 100px;
}

.modalFull {
    display: none;
}
.topCover {
    display: none;
}
.mobile {
    display: none;
}


/* preloader */
#preloader {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/ajax-loader.gif) center no-repeat #002144;
}


/* header */
#headerMobile {
    display: none;
}
.gnbMobileBtn {
    display: none;
}
header .setWidth {
    padding: 10px 0;
}
header #logo {
    padding-top: 20px;
}
header #logo a {
    display: block;
}
header #logo img {
    width: 200px;
}

header nav.gnb {
    float: right;
}
header nav.gnb > ul {
    float: right;
}
header nav.gnb > ul > li {
    float: left;
    position: relative;
}
header nav.gnb > ul > li.last ul {
    right: 0;
}
header nav.gnb li ul {
    display: none;
    position: absolute;
    width: 140px;
    background: white;
}
header nav.gnb li li a {
    color: #002144;
}
header nav.gnb a {
    display: block;
    padding: 10px;
}
header nav.gnb a:hover {
    background: #f05f5f;
    color: white;
}

header nav.shortMenu ul {
    float: right;
}
header nav.shortMenu li {
    float: left;
}
header nav.shortMenu a {
    display: block;
    padding: 10px;
}


nav.lnb li a {
    display: block;
    padding: 10px 10px;
}
nav.lnb li a:hover {
    background: #f05f5f;
}


/* footer */
footer {
    clear: both;
}
footer nav.footerMenu li {
    float: left;
}
footer nav.footerMenu a {
    display: block;
    padding: 10px;
}
footer nav.footerMenu li:first-child a {
    padding-left: 0;
}

footer .familySite {
    position: relative;
}
footer .familySite:hover ul {
    display: block;
}
footer .familySite p {
    border: 1px solid white;
}
footer .familySite p a {
    display: block;
    padding: 10px;
}
footer .familySite ul {
    position: absolute;
    width: 100%;
    bottom: 38px;
    display: none;
    border: 1px solid white;
    border-top: 0 none;
}
footer .familySite li:last-child a {
    border-bottom: 0 none;
}
footer .familySite li a {
    display: block;
    padding: 10px;
    border-top: 1px solid white;
    background: #002144;
}
footer .familySite li a:hover {
    background: #f05f5f;
}

footer .copyright {
    clear: both;
    padding: 10px 0;
    font-size: 0.9em;
}
footer .copyright .logoFooter a {
    display: block;
}
footer .copyright .logoFooter img {
    width: 100%;
    max-width: 200px;
}
footer address {
    margin-bottom: 5px;
}
