

h2 {
    font-size: 10em;
    text-align: center;
    font-weight: bold;
    padding: 130px 0;
}
.subpage h2 {
    font-size: 3em;
    padding: 20px 0;
    margin-bottom: 20px;
}
.subpage:after {
    content: '';
    display: block;
    clear: both;
}
.red {
    color: #f05f5f;
}


.pluginGuide {
    margin-bottom: 50px;
}
.pluginGuide h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}
.pluginGuide .unit {
    margin-bottom: 20px;
}


/* signup table */
.signUpTable {
    color: white;
}
.inputStructure {
    color: white;
}
.signUpTable > tbody > tr > th,
.signUpTable > tbody > tr > td {
    padding-top: 30px;
}
.signUpTable > tbody > tr:first-child > th,
.signUpTable > tbody > tr:first-child > td {
     padding-top: 0;
}
.signUpTable .address .inputStructure td {
    padding-top: 20px;
}
.signUpTable .address .inputStructure td input[readonly] {
    background: #999;
}
.signUpTable .address .inputStructure tr:first-child td {
    padding-top: 0;
}
.signUpTable .agreementCheck a {
    color: #f05f5f;
    vertical-align: text-bottom;
}
.signUpTable .extra {
    margin-top: 5px;
}
.signUpTable .extra p {
    font-size: 0.9em;
    margin-top: 3px;
}
.signUpTable .extra p em {
    vertical-align: text-bottom;
}




label {
    font-family: "source-han-sans-korean-n4", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.pluginUse {
    margin-top: 80px;
    background: #000000;
    padding: 20px;
}
.pluginUse h3 {
    font-size: 2em;
}
.pluginUse li {
    margin-top: 10px;
}
.pluginUse li a {
    display: block;
    font-size: 1.6em;
}

.category {
    margin-bottom: 20px;
    overflow: hidden;
}
.category li {
    font-size: 1.5em;
    float: left;
    margin-right: 15px;
}
.category li .button span {
    height: 50px;
    line-height: 50px;
}


.modal.login {
    padding: 20px;
    border: 2px solid black;
    clear: both;
}
.modal.login td,
.modal.login th {
    padding-top: 20px;
}
.modal.login tr:first-child td,
.modal.login tr:first-child th {
    padding-top: 0;
}
.modal.login .loginBtn span {
    line-height: 100px;
    height: 100px;
}