.clearFix:after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}



/* accordion contents */
.accordion {
    margin-bottom: 70px;
}
.accordion dt a {
    display: block;
    padding: 10px;
    background: white;
    color: #002144;
    margin-top: 20px;
}
.accordion dt a:after {
    content: '';
    width: 13px;
    height: 13px;
    display: block;
    border: 1px solid #f05f5f;
    float: right;
}
.accordion dt:first-child a {
    margin-top: 0;
}

.accordion dt.active a {
    background: #f05f5f;
    color: white;
}
.accordion dt.active a:after {
    border-color: white;
}
.accordion dt a:hover {
    background: #f05f5f;
    color: white;
}
.accordion dt a:hover:after {
    border-color: white;
}

.accordion dd {
    display: none;
    padding: 10px;
}
.accordion dd.active {
    border: 1px solid #f05f5f;
    display: block;
}


/* input contents */
.inputStructure td {
    text-align: center;
}
.inputStructure select {
    width: 100%;
}

.textInput {
    border: 1px solid white;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: transparent;
    color: white;
    text-indent: 10px;
}


/* Bbutton */
.button {
    display: block;
}
.button span {
    display: block;
    padding: 0 20px;
    background: #f05f5f;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
}


/* pagination */
.pagination ul {
    overflow: hidden;
    text-align: center;
}
.pagination li {
    display: inline-block;
}
.pagination li a {
    display: block;
    padding: 0 3px;
}
.pagination li.active a {
    color: #f05f5f;
    font-weight: bold;
}


/* modal */




/* board */
.boardList li {
    margin-top: 10px;
    overflow: hidden;
}
.boardList li:first-child {
    margin-top: 0;
}
.boardList a {
    display: block;
}
.boardList .thumb {
    float: left;
    width: 30%;
}
.boardList .thumb img {
    width: 100%;
}
.boardList .text {
    float: left;
    width: 70%;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.buttonWrapper {
    text-align: right;
}
.buttonWrapper > a:first-child {
    margin-left: 0;
}
.buttonWrapper > a {
    display: inline-block;
    margin-left: 10px;
}


.search {
    padding: 20px 0;
}
.search input {
    width: 10em;
    float: left;
    margin-right: 10px;
}

