


@font-face {
    font-family: 'noto-sans';
    src: url('fonts/notokr-regular.eot');
    src: url('fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/notokr-regular.woff2') format('woff2'),
         url('fonts/notokr-regular.woff') format('woff'),
         url('fonts/notokr-regular.ttf') format('truetype'),
         url('fonts/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'noto-sans';
    src: url('fonts/notokr-light.eot');
    src: url('fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/notokr-light.woff2') format('woff2'),
         url('fonts/notokr-light.woff') format('woff'),
         url('fonts/notokr-light.ttf') format('truetype'),
         url('fonts/notokr-light.svg#notokr-light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'noto-sans';
    src: url('fonts/notokr-bold.eot');
    src: url('fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/notokr-bold.woff2') format('woff2'),
         url('fonts/notokr-bold.woff') format('woff'),
         url('fonts/notokr-bold.ttf') format('truetype'),
         url('fonts/notokr-bold.svg#notokr-bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
