


<div id="mainContent">

    <!-- slider container -->
<!--    <div class="iosslider">

        &lt;!&ndash; slider &ndash;&gt;
        <div class="slider">

            &lt;!&ndash; slides &ndash;&gt;
            <div class="slide" style="background-image:url({$layout_info->slide_img1});" cond="$layout_info->slide_text1">
                <div class="mainSlider-unitTitle setWidth"  >
                    <div class="dark"|cond="$layout_info->slide_tc_1 == 'dark'">
                        <div class="title"><img src="images/slide_text_1.png" alt=""  /></div>
                        <div class="desc">{$layout_info->slide_text1}</div>
                    </div>
                </div>
            </div>
            <div class="slide" style="background-image:url({$layout_info->slide_img2});" cond="$layout_info->slide_text2">
                <div class="mainSlider-unitTitle setWidth" >
                    <div class="dark"|cond="$layout_info->slide_tc_2 == 'dark'">
                        <div class="title"><img src="images/slide_text_1.png" alt=""  /></div>
                        <div class="desc">{$layout_info->slide_text2}</div>
                    </div>
                </div>
            </div>
            <div class="slide" style="background-image:url({$layout_info->slide_img3});" cond="$layout_info->slide_text3">
                <div class="mainSlider-unitTitle setWidth">
                    <div class="dark"|cond="$layout_info->slide_tc_3 == 'dark'">
                        <div class="title"><img src="images/slide_text_1.png" alt=""  /></div>
                        <div class="desc">{$layout_info->slide_text3}</div>
                    </div>
                </div>
            </div>
            <div class="slide" style="background-image:url({$layout_info->slide_img4});" cond="$layout_info->slide_text4">
                <div class="mainSlider-unitTitle setWidth" >
                    <div class="title"><img src="images/slide_text_1.png" alt=""  /></div>
                    <div class="desc">{$layout_info->slide_text4}</div>
                </div>
            </div>
            <div class="slide" style="background-image:url({$layout_info->slide_img5});" cond="$layout_info->slide_text5">
                <div class="mainSlider-unitTitle setWidth" >
                    <div class="title"><img src="images/slide_text_1.png" alt=""  /></div>
                    <div class="desc">{$layout_info->slide_text5}</div>
                </div>
            </div>
        </div>

        <div id="slideNav">
            <ul class="slideNav-list">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
            <a href="#" id="slideStopBtn">play/pause</a>
        </div>

    </div>-->


    <div style="text-align: center;">
        <img src="images/main_slide_01.jpg" alt="" style="max-height: 500px;"/>
    </div>



    <div class="setWidth reset unit50">

        <div class="unit40 mainTop">
            <div class="mainTop-title">The 5th Psoriasis Symposium <br/>for Biologics and Systemic
                Agents</div>
            <div><div>NOV.7th (Sat),2015</div>E dong, Pusan National University Hospital (Emergency Department) 9th floor auditorium</div>
            <a href="#" class="linkDot textWhite boardList-more">Show more</a>
        </div>

        <div class="row boardList unit50">
            <div class="col triple boardList-unit item01">
                <h3 class="textWhite heading22 boardList-title">Journal of <br/>KSP</h3>
                <div class="boardList-text textSmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ut
                    volutpat
                    rutrum
                    eros sit amet
                    sollicitudin. Suspendisse pulvinar</div>
                <a href="#" class="linkDot textWhite boardList-more">Show more</a>
            </div>
            <div class="col triple boardList-unit item02">
                <h3 class="textWhite heading22 boardList-title">Seminar f or <br/>Psoriasis Treatment </h3>
                <div class="boardList-text textSmall">Maecenas etos sit amet, consectetur adipiscing elit. Terminal
                    volutpat
                    rutrum metro amet sollicitudin interdum.</div>
                <a href="#" class="linkDot textWhite boardList-more">Show more</a>
            </div>
            <div class="col triple boardList-unit item03">
                <h3 class="textWhite heading22 boardList-title">Annual <br/>Meeting of KSP</h3>
                <div class="boardList-text textSmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat
                    rutrum eros sit amet sollicitudin. Suspendisse pulvinar</div>
                <a href="#" class="linkDot textWhite boardList-more">Show more</a>
            </div>
        </div>

        <div class="row eventList">
            <div class="col triple x2 event">
                <h3 class="titleLine heading18 unit30">Upcoming Events</h3>

                <div class="row unit30">
                    <div class="col half event-unit">
                        <div class="picket textSmall">03 May 15</div>
                        <h4 class="heading22 event-title">New study links lutein with eye health benefits</h4>
                        <div>Maecenas etos sit amet, consectetur adipiscing elit. Terminal volutpat rutrum metro amet
                            sollicitudin interdum. Suspendisse pulvinar, velit etos pharetra interdum, ante tellus gravida mollis tellus neque vitae elit. Mauris adipiscing mauris . . .</div>
                    </div>
                    <div class="col half event-unit">
                        <div class="picket textSmall">03 May 16</div>
                        <h4 class="heading22 event-title">Day care snacks lacking in nutritional value</h4>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros sit amet sollicitudin. Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. Mauris adipiscing mauris . . .</div>
                    </div>
                </div>

                <a href="#" class="linkDot blue textBlue event-more">Show more</a>
            </div>

            <div class="col triple">
                <h3 class="heading18 titleLine unit30">Contact Us</h3>

                <div class="contact">
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros sit amet
                        sollicitudin.
                    </div>
                    <ul class="contactList">
                        <li class="item01">by Phone <span class="num">+82-2-3472-4203</span></li>
                        <li class="item02">Fax <span class="num">+82-2-3472-4203-02</span></li>
                        <li class="item03">Email <span class="num">contact@kspder.or.kr</span></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>




    <div class="setWidth clearFix">

        {$content}

    </div>
</div>