


/* 기본 세팅 */
body {
    font-size: 15px;
    line-height: 1.5;
    font-family: 'noto-sans', sans-serif;
}

input, select, button, textarea {
    font-family: 'noto-sans', sans-serif;
    font-size: 1em;
    vertical-align: middle;
}

textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #d5d9dd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    word-break: break-all;
    white-space: pre-line;
}

input[type="checkbox"],
input[type="radio"] {
    margin-top: -1px;
}





.gnb {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: calc(100% - 50px);
    background: #272d38;
    overflow: scroll;
    -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;
}
.gnb.open {
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -o-transform: translateX(250px);
    transform: translateX(250px);
}
.gnb.close {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}
